.select {
    position: relative;
    width: 300px;
    height: 48px;
    border-radius: 12px;
    line-height: 22px;
    padding-left: 12px;
    margin-bottom: 30px;
    color: var(--text-color-middle)
}

.selectContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.optionDefault {
    color: var(--text-color-middle)
}

.option {
    color: var(--text-color-dark)
}

/*.input {*/
/*    position: relative;*/
/*    width: 300px;*/
/*    height: 48px;*/
/*    border-radius: 12px;*/
/*    line-height: 22px;*/
/*    padding-left: 12px;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.input:focus {*/
/*    box-shadow: inset 1px 1px 4px var(--background-tertiary);*/
/*}*/

/*.input::placeholder {*/
/*    color: var(--text-color-middle);*/
/*}*/
