.chartStaff {
    position: relative;
    width: 670px;
    min-height: 302px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
    border-radius: 12px;
    background-color: #FFF;
    border: 1px solid var(--text-color-light);
}

.tabContentChart {
    height: 16px;
    padding-top: 4px;
    flex-grow: 1;
    overflow: hidden;
}

.scrollableContent {
    height: 100%;
    overflow-y: auto;
}

.scrollableContent::-webkit-scrollbar {
    width: 7px;
}

.scrollableContent::-webkit-scrollbar-track {
    background: var(--background-secondary);
}

.scrollableContent::-webkit-scrollbar-thumb {
    background: var(--background-tertiary);
    border-radius: 4px;
}

.scrollableContent::-webkit-scrollbar-thumb:hover {
    background: var(--background-quaternary-hover);
}

.tabsChart {
    width: 403px;
    height: 20px;
    display: flex;
}

.tabChart {
    color: var(--text-color-middle);
    padding-right: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.tabChart:nth-child(n+2) {
    padding-right: 0;
}

.tabChart.active {
    color: var(--text-color-dark);
}