.table {
    padding-top: 24px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--text-color-middle);
}

.table__subtitle {
    font-size: 10px;
}

.table__headers {
    background-color: var(--background-secondary);
}

.table__header {
    font-weight: 600;
}
.table__header_left {
    width: 213px;
    border-right: 1px solid var(--text-color-middle);
}
.table__header_right {
    min-width: 395px;
}

.table__col_left {
    width: 213px;
    border-right: 1px solid var(--text-color-middle);
    border-bottom: 1px solid var(--text-color-middle);
}

.table__header,
.table__col_left,
.table__col_right {
    padding: 6px 0 10px 12px;
    text-align: left;
}

.table__row {
    border: 1px solid var(--text-color-middle);
}
.table__row.selected {
    border: 2px solid var(--text-color-middle);
    background-color: var(--background-primary);
}

.TEST-BTN {
    padding: 10px;
    background-color: #FFCE1B;
    cursor: pointer;
}