.topBar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-quaternary);
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

.topBarInnerBar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
}

.innerHalf {
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.innerHalf:nth-child(2) {
    justify-content: flex-end;
}

.btnWrap {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.35s ease;
    margin-bottom: 8px;
    border-radius: 12px;
    border: none;
}

.innerIconBg {
    width: 24px;
    height: 24px;
}

.innerUserImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.btnWrap:hover {
    background-color: var(--background-quaternary-hover);
}

.btnWrap.active {
    background-color: var(--background-quaternary-hover);
}

.btnWrap img {
    width: 24px;
    height: 24px;
}