.chartSubtitle {
    font-size: 10px;
    cursor: default;
}

.chartTable {
    padding-top: 24px;
}

.tableHeader {
    width: 213px;
    text-align: left;
}

.testBtn {
    padding: 10px;
    background-color: #FFCE1B;
    cursor: pointer;
}