.main {
  width: 100%;
  padding: 40px 40px 0 60px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.tabs {
  display: flex;
  width: 170px;
  height: 32px;
}

.tab {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 24px;
  color: var(--text-color-middle);
  cursor: pointer;
}

.tab:nth-last-child(1) {
  margin-right: 0;
}
.tab.active {
  color: var(--text-color-dark);
  border-bottom: 2px solid var(--color-red);
  margin-bottom: -2px;
}

.tabContent {
  padding: 32px 0 0;
}



